%hs{
    text-align: center;
    color: white;
}

%estilosform{
    padding: 1.7rem 2.5rem;
    border-radius: 2.5rem;
    margin-bottom: 2rem;
    background-color: #feffed;
    border: 0.2rem solid #fafaf0;
    color: #363528;
    outline: none;
}