/*   MediaQuery mobile    */

@media screen and (max-width: 415px)
{
    main{
        .index{
            margin-left: 6rem;
            .index_image{
                width: 27rem;
            }
        }
        section{
            article{
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                .historia_p{
                    font-size: 1.2rem;
                }
            }
            .members{
                .members_cards{
                    .members_photo{
                        width: 25rem;
                        height: 23rem;                      
                    }
                }
            }    
        }
        section{
            .videos{
                div{
                    iframe{
                        width:34.7rem;
                        height: auto;
                        margin: 1rem;
                    }
                }
            }
        }
        .galery{
            div{
                .galery_image_measure{
                    width: 23rem;
                    height: 23rem;
                }
            }
        }        h1{
            font-size: 2.9rem;
        }
    
        h2{
            font-size: 2.4rem;
        }
    
        h3{
            font-size: 2rem;
        }
    
        p{
            font-size: 1.4rem;
        }
    }
    footer{
        .redes{
            .redes_link{
                .redes_image{
                    width: 5rem;
                    padding: 0.5rem;
                }
            }
        }
    }
}