@media screen and (max-width: 600px){
    main{
        .index{
            .index_image{
                width: 33rem;
            }
        }
        .redes{
            .redes_link{
                .redes_image{
                    width: 7rem;
                    padding: 0.8rem;
                }
            }
        }
    }
    header .logo{
        width: 15rem;
    }
}