body
{
    background-color: $color-body;
}
main
{
    // --- INDEX --- //
    .index{
        @include estilos_flex (flex, space-around);
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        margin: 4rem;
        flex-wrap: wrap;
        gap: 1rem;
        .index_image{
            width: 36.5rem;
        }
    }
    // --- INDEX --- //
    // --- ABOUT ME --- //
    section{
        article{
            margin-left: 11rem;
            margin-right: 11rem;
            .historia_p{
                color: $color-pespeciales;
                font-size: 1.8rem;
                gap: 0.2rem;
            }
        }
        .members{
            @include estilos_flex (flex, space-evenly);
            flex-wrap: wrap;
            margin: 1.5rem;
            padding: 2rem;
            gap: 1.5rem;
            .members_cards{
                width: 30rem;
                height: 38rem;
                margin-bottom: 1.5rem;
                text-align: center;
                border-radius: 1rem;
                background-color: $color-cards;
                margin: 0.5rem;
                .members_photo{
                    width: 30rem;
                    height: 30rem;
                    border-top-right-radius: 1rem;
                    border-top-left-radius: 1rem;
                    padding: 0.5rem;
                }
                .members_cards_redes{
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
    }
    
    // --- ABOUT ME --- //
    // --- GALERY --- //
    .galery{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        gap: 2rem;
        margin: auto;
        max-width: 125rem;
        div{
            .galery_image_measure{
                width: 35rem;
                height: 35rem;
                box-shadow: 10px 10px 23px -7px rgba(228, 250, 34, 0.781);
                -webkit-box-shadow: 10px 10px 23px -7px rgba(228, 250, 34, 0.781);
                -moz-box-shadow: 10px 10px 23px -7px rgba(228, 250, 34, 0.781);
            }
        }
    }
    // --- GALERY --- //
    // --- DISCOGRAFIA ---//
    section{
        .videos{
            @include estilos_flex (flex, space-around);
            flex-wrap: wrap;    
        }
    }
    // --- DISCOGRAFIA ---//

    h1{
        @extend %hs;
        font-size: 5.3rem;
    }

    h2{
        @extend %hs;
        font-size: 3.5rem;
    }
    
    h3{
        @extend %hs;
        font-size: 2.3rem;
    }

    p{
        @extend %hs;
        padding: 1.5rem;
        font-size: 1.9rem;
    }
}
.form{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        padding: 5rem 5.5rem;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
        border-radius: 2rem;
        text-align: center;
        width: 34rem;
        background-color: rgb(146, 146, 108);
        h1{
            color: #363528;
            font-size: 3.5rem;
        }
        .formulario{
            display: flex;
            flex-direction: column;
            text-align: left;
            label{
                color: #363528;
                font-size: 1.5rem;
                font-weight: 60rem;
                margin-bottom: 1.5rem;
            }
            input{
                @extend %estilosform;
            }
            textarea{
                @extend %estilosform;
            }
            .btn{
                font-size: 1.6rem;
                color: #ffffff;
                border: 0;
                border-radius: 2.5rem;
                background-color: #dbe123;
                box-shadow: 0 0 2rem rgba(254, 254, 0, 0.4);
                cursor: pointer;
            }
        }
    }
}









